@page "/todo"
@layout     MasterLayout
@using Blazor.net.Services
@inherits TodoBase

<h1>Ma little ToDos</h1>

<div>
    <form>
        <label for="Message">Message</label>
        <input for="Message" bind="@NewTodo.Message" />
        <input type="button" value="Save" onclick="@AddTodo"/>
    </form>
</div>


<TableTemplate Items="@Items.All()" Context="item">
    <TableHeader>
        <th>Id</th>
        <th>ToDo Item</th>
        <th>Created at</th>
        <th>Options</th>
    </TableHeader>
    <RowTemplate>
        <td>@item.Id</td>
        <td>@item.Message</td>
        <td>@item.CreatedAt</td>
        <td>
            <input type="button" value="Remove" onclick="@(() => RemoveById(item.Id))"/>
        </td>
        <td>
            <a href="/todo/@item.Id">Details</a>
        </td>
    </RowTemplate>
</TableTemplate>